.position-fixed-2 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    width: 1920px;
}

.position-fixed-2>.diving {
    transform: rotate(90deg);
    margin-left: -40px;
}

.position-fixed-2>.diving a {
    text-decoration: none;
    color: white;
    background: red;
    padding: 12px;
    border-radius: 12px;
}